# IDE
.vscode/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
cake4everybot

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# configuration files for tokens, access keys and other connection data
*env.yaml

# runtime config files (as described in config.yml)
modules/secretsanta/players.json
twitch/prizes.json
twitch/times.json
